* {font-family:arial;
    color: #414848;
}
*::selection{
    background:#B7B7B7;
}
body{
    background:#C0C0C0;
    margin-top: 0px;
    margin-left: 16px;
    margin-right: 16px;
}
/*FORMULARIO---------------------------------*/
input[type="text"],input[type="password"]{
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    padding:5;
    background:#F0F0F0;
}
input[type="submit"]{
    border-radius: 10px 10px 10px 10px;
    width: 61px;
    height: 30px;
    border: 1px solid rgba(256,256,256,0.75);
    background:#3f9db8;
    color: white;
    float: inherit;
}
input[type="submit"]:hover{
    background:#ADD8E6;
    color: black;
}
#asignin{
    float: right;
    margin-right: 50px;
}
#titul{
    color:white;
    font-size: 30;
    font-family:cursive;
}
#formularioborde{
    width: 500px;
    border-radius: 0px 0px 20px 20px;
    background: white;
    border: none;
    
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),  
                0 1px 1px rgba(0, 0, 0, .2),
                0 3px 0 #fff,
                0 4px 0 rgba(0, 0, 0, .2),
                0 6px 0 #fff,  
                0 7px 0 rgba(0, 0, 0, .2);
}
#titleborder{
    width: 500px;
    border-radius: 20px 20px 0px 0px;
    background: #3f9db8;
    border: none;
    padding-top: 10px;
}

#todoformulario{
    margin-top: 80px;   
}
/*HEADER------------------------------------------*/
#main-header {
	background: #333;
	color: white;
	width:100%;
	height: 98px;
}
#logo-header{
	text-decoration:none;
	
}
#titulopagina{
	padding-top: 10px;
}
span.site-name, span.site-desc {
	color: white;
}
div.site-name{
	/*background: url(title1.png) no-repeat;
	color: #333;*/
	font-size: 40;
	margin-left: 20px;
}
span.site-desc{
	margin-left: 30px;
}
/*MENÚ------------*/
nav{
	float:right;
	position: relative;
	top: -73px;
	right: 490px;
}
#menu{
	margin:0;
	padding:0;
	list-style-type:none;
}
#menu li{
	width:100px;
	text-decoration:none;
	text-align:center;
	color:white;
	padding:40px 20px;
	border-right:1px solid white;
	display:block;
	float:left;
}
#menu li:last-child {
    border-right:none;
}
#menu a{
	color: white;
	text-decoration:none;
}
#menu li:hover{
	background-color:#336699;
	border-bottom:3px solid white;
}
#titul{
    color:white;
    font-size: 30;
    font-family:cursive;
}
	
/*MENÚ INICIAR/REGISTRARSE------------*/	
#logmenu{
	margin:0;
	padding:0;
	list-style-type:none;
	right: -530px;
	top:-51px;
}
#logmenu li{
	width:100px;
	text-decoration:none;
	text-align:center;
	color:white;
	padding:15px 10px;
	display:block;
	float:left;
}
#logmenu a{
	color: white;
	text-decoration:none;
}
#signin{
	background:#3f9db8;
	border-radius: 10px;
	margin-right: 15px;
	font-size:20px;
}
#signup:hover{
	background-color:#57DE7F;
}
#signup{
	background:#2ecc71;
	border-radius: 10px;
	font-size:20px;
}
#signin:hover{
	background-color:#46ADF3;
}